@import "../animaton";
@import "../mixing";
@import "../reset";
@import "../Tooling";

nav {
  background: #001f3c;
  color: $color;
  @include display(flex, space-around, center, row nowrap);
  min-height: text(40px);
  padding: 0.5rem 0;
  //
  .logo-container {
    display: block ;
    flex: 0 0 30%;
    align-self: center;

    a.logo {
      @include display(flex, normal, center, row nowrap);
      color: $color;
      img {
        width: text(70px);
      }
      span {
        //font-family: $logo-font;
        font-size: text(19px);
        letter-spacing: text(1px);
        line-height: text(23px);
      }
    }
  }
  //
  .progress {
    ul {
      @include display(flex, space-between, center, row nowrap);
      min-height: text(57px);
      li {
        font-size: text(13px);
        font-weight: 700;
        letter-spacing: text(1px);
        margin-right: 1rem;
        text-transform: uppercase;
        span {
          display: inline-block;
          width: text(25px);
          height: text(25px);
          border-radius: 50%;
          border: 1px solid #fff;
          line-height: 25px;
          text-align: center;
          @include ease;
        }
        span.done {
          background: $color;
          color: #001f3c;
        }
      }
    }
  }
}

.step-1,
.step-2 {
  .progress_1,
  .progress_2,
  .progress_3 {
    max-width: 1800px;
    min-height: 700px;
    height: inherit;
    @include ease;
    section {
      @include display(flex, center, center, column);
      min-height: 700px;
    }
    footer {
      position: relative;
      top: calc(100vh - 861px);
      font-size: text(12px);
      color: #565959 !important;
      padding: 1rem 0 1rem 3rem;
      font-weight: 700;
      line-height: 1.5;
      p {
        padding-bottom: 1rem;
      }
      a {
        color: $sec-color;
        padding-right: 1rem;
        @include ease;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .progress_1 {
    .content {
      @include shadow;
      max-width: text(790px);
      @include grid(grid, repeat(2, 1fr), auto, 0);
      .right,
      .left {
        padding: 2rem;
        font-size: text(15px);
        height: 100%;
        .header {
          color: #001f3c;
          font-size: text(20px);
          font-weight: 900;
          line-height: text(30px);
          letter-spacing: 1px;
          padding: 0.5rem 0 1rem 0;
        }
      }
      .right {
        .header {
          color: #001f3c !important;
        }
        .body {
          &-content {
            label {
              font-size: text(13px);
              font-weight: 600;
              line-height: text(20px);
              color: darken($color, 100);
              margin-bottom: 1rem;
              display: inline-block;
            }
            input {
              display: block;
              margin: 0.5rem 0;
              width: 100%;
              padding: 0.5rem;
              border: 1px #ddd solid;
              border-radius: 4px;
              &:focus {
                outline: 1px solid #ee7d27;
                box-shadow: 0px 0px 8px 0px #ee7d27;
              }
            }
            input[type="submit"] {
              @include ease;
              color: $color;
              background: $sec-color;
              cursor: pointer;
              margin-top: 1rem;
              @include shadow;
              &:hover {
                background: lighten($sec-color, 5);
              }
              &:focus {
                outline: none;
                box-shadow: none;
              }
            }
            .steps {
              font-size: text(13px);
              margin-top: 2rem;
              position: relative;
              p.yourStep {
                line-height: text(20px);
                font-weight: 600;
                padding-bottom: 1rem;
              }
              ol {
                font-size: text(12px);
                font-weight: 600;
                letter-spacing: text(1px);
                padding: 0 0 0 1rem;
                li {
                  list-style: decimal !important;
                  padding: 0.5rem 0;
                  a {
                    display: block;
                    color: $sec-color;
                    padding: 0.5rem 0;
                    @include ease;
                    &:hover {
                      text-decoration: underline;
                      $color: lighten($sec-color, 5);
                    }
                  }
                }
              }
              .popup {
                @include position(absolute, "", "", "", "", 100);
                content: "";
                padding: 1rem;
                line-height: text(20px);
                font-size: text(12px);
                color: darken($color, 100);
                font-weight: 700;
                background: $color;
                border: 2px #ddd solid;
                @include ease;
                @include shadow;
                &::before {
                  @include position(absolute, text(-10px), 50%, "", "", 100);
                  content: "";
                  width: text(16px);
                  height: text(16px);
                  transform: rotate(45deg);
                  background-color: $color;
                  border-top: 2px #ddd solid;
                  border-left: 2px #ddd solid;
                }
              }
            }
          }
        }
      }
      .left {
        padding-right: 0rem !important;
        padding-bottom: 0rem !important;

        background: #001f3c;
        //url(../../content/img/city.svg)
        color: $color;
        .header {
          color: $color !important;
          font-size: text(22px);
        }

        .body {
          ul {
            padding: 0 0.5rem 0 0;
            li {
              @include display(flex, space-between, center, row nowrap);
              padding: 1rem 0;
              i {
                font-size: text(28px);
              }
              div {
                align-self: center;
              }
              div.pros {
                flex: 0 0 85%;
              }
              h4 {
                font-size: text(16px);
                padding-bottom: 0.5rem;
                font-weight: 700;
              }
              p {
                font-size: text(12px);
                line-height: text(18px);

                a {
                  color: $color;
                  text-decoration: underline;
                }
              }
            }
          }
          .img {
            padding: 3rem 0;
            background: url(../../content/img/city.svg) no-repeat bottom;
          }
        }
        .footer {
          padding: 1rem;
          text-align: center;
          background: #0d2c49;
          a {
            color: $color;
            font-size: text(12px);
            text-decoration: underline;
          }
        }
      }
    }
    .information-content {
      max-width: text(385px);
      padding: 1rem;
      margin-bottom: 2rem;
      .title {
        font-weight: bolder;
        font-size: text(26px);
        padding: 0.5rem 0;
        line-height: text(28px);
      }
      ///
      div {
        padding: 0.5rem 0 0 0;
        label {
          font-weight: 600;
          font-size: text(13px);
        }
        input,
        select {
          display: block;
          margin: 0.5rem 0;
          width: 100%;
          padding: 0.5rem;
          border: 1px #ddd solid;
          border-radius: 4px;
          &:focus {
            outline: 1px solid #ee7d27;
            box-shadow: 0px 0px 8px 0px #ee7d27;
          }
        }
        input[type="checkbox"],
        input[type="radio"] {
          display: inline !important;
          border: none;
          width: auto;
        }
        input[type="submit"] {
          @include ease;
          color: $color;
          background: $sec-color;
          cursor: pointer;
          @include shadow;
          margin-bottom: 1rem;
          &:hover {
            background: lighten($sec-color, 5);
          }
          &:focus {
            outline: none;
            box-shadow: none;
          }
        }

        p {
          font-size: text(15px);
          line-height: text(16px);
          padding: 0.5rem 0;
          font-weight: 600;
          line-height: 1.5;
          a {
            color: #4995b3;
            @include ease;
            &:hover {
              color: $sec-color;
              text-decoration: underline;
            }
          }
        }
        p.info 
        {
          font-size: text(12px);
          border-top: 1px solid #d3d5d8;
          margin:1rem 0 0 0;
          padding-top: 1rem;
        }

        .choise {
          @include display(flex, normal, normal, row nowrap);
          input,
          p,
          label {
            align-self: flex-start;
            padding: 0 0 0 0.5rem;
          }
          label {
            line-height: text(19px);
            padding: 0.2rem 0 0 0.5rem;
          }
          p {
            padding: 0.2rem 0 0 0.5rem;
          }
        }
      }
      //
      .fields {
        padding: 1rem 0;
        border-top: 1px #ddd solid;
      }
    }
  }

  .progress_2 {
    form {
      max-width: text(370px);
      border: 1px #ddd solid;
      border-radius: 4px;
      padding: text(20px) text(22px);
      @include shadow;
      .title {
        font-weight: bolder;
        font-size: text(26px);
        padding: 0.5rem 0;
        line-height: text(28px);
      }
      div {
        padding: 0.5rem 0 0 0;
        label {
          font-weight: 600;
          font-size: text(13px);
        }
        input {
          display: block;
          margin: 0.5rem 0;
          width: 100%;
          padding: 0.5rem;
          border: 1px #ddd solid;
          border-radius: 4px;
          &:focus {
            outline: 1px solid #ee7d27;
            box-shadow: 0px 0px 8px 0px #ee7d27;
          }
        }
        input[type="submit"] {
          @include ease;
          color: $color;
          background: $sec-color;
          cursor: pointer;
          @include shadow;
          &:hover {
            background: lighten($sec-color, 5);
          }
          &:focus {
            outline: none;
            box-shadow: none;
          }
        }

        p {
          font-size: text(12px);
          line-height: text(16px);
          padding: 0.5rem 0;
          font-weight: 600;
          line-height: 1.5;
          a {
            color: #4995b3;
            @include ease;
            &:hover {
              color: $sec-color;
              text-decoration: underline;
            }
          }
        }
        p.note {
          margin: 0.5rem 0 0 0;
          padding: 0.5rem 1rem;
          font-size: text(12px);
          color: #4995b3;
        }
        a.btn {
          color: #4995b3;
          @include ease;
          &:hover {
            color: $sec-color;
            text-decoration: underline;
          }
        }

        a {
          color: #4995b3;
          padding: 0.2rem 0;
          @include ease;
          &:hover {
            color: $sec-color;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .progress_3 {
    .OTP-content {
      max-width: text(370px);
      padding: text(20px) text(26px);
      font-size: text(13px);
      font-weight: 600;
      border: 1px #ddd solid;
      border-radius: 4px;
      @include shadow;

      article {
        text-align: left;
        width: 100%;
        margin-bottom: 0.5rem;
        .title {
          font-weight: bolder;
          font-size: text(26px);
          padding: 0.5rem 0;
          line-height: text(28px);
        }

        p {
          line-height: text(19px);
          padding: 0.5rem 0;
          font-size: text(13px);
        }
        a {
          color: $sec-color;
          padding-right: 1rem;
          @include ease;
          &:hover {
            text-decoration: underline;
          }
        }
      }

      form {
        max-width: text(370px);
        margin-bottom: 0.5rem;
        div {
          padding: 0.5rem 0 0 0;
          label {
            font-weight: 600;
          }
          input {
            display: block;
            margin: 0.5rem 0;
            width: 100%;
            padding: 0.5rem;
            border: 1px #ddd solid;
            border-radius: 4px;
            &:focus {
              outline: 1px solid #ee7d27;
              box-shadow: 0px 0px 8px 0px #ee7d27;
            }
          }
          input[type="submit"] {
            @include ease;
            color: $color;
            background: $sec-color;
            cursor: pointer;
            &:hover {
              background: lighten($sec-color, 5);
            }
            &:focus {
              outline: none;
              box-shadow: none;
            }
          }
        }
      }

      p {
        font-size: text(12px);
        line-height: text(16px);
        padding: 0.5rem 0;
        margin-bottom: 1rem;
        font-weight: 600;
        line-height: 1.5;
        a {
          color: #4995b3;
          @include ease;
          &:hover {
            color: $sec-color;
            text-decoration: underline;
          }
        }
      }
      a {
        color: $sec-color;
        padding-right: 1rem;
        @include ease;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  ///
}

//
.hide {
  display: none;
}
.PassContainer {
  position: relative;
  width: 100%;
  &-state {
    @include position(absolute, "", 0, text(39px), 0, 100);
    content: "";
    height: text(3px);
    background: red;
    padding: 0 !important;
    transition: width 0.5s ease-in, background 0.2s ease-out;
    width: 0%;
    border-radius: 4px;
  }
}
@import '../Buy/buy-mobile';